<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar</title>
</head>
<body>
    <h1>Actualizar Post</h1>
    <form action="/post/updateregister/{{ post.id }}/" method="post">
    {% csrf_token %}
    Titulo:<br>
    <input name="title" value="{{ post.title}}">
    <br><br>
    Contenido:<br>
    <input name="content" value="{{ post.content}}">
    <br><br>
    Autor:<br>
    <input name="author" value="{{ post.author}}">
    <br><br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>